.star-rating input[type="radio"] {
    display: none;
}

.temp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star.gray {
    color: gray;
    /* Gray color for empty stars */
    display: flex;
    align-items: center;
}

.star-con {
    display: flex;
}

.add-review-link {
    text-align: center;
    align-self: center;
    font-size: 1.5rem;
    margin: 10px;
}

/* testing */
#review-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;

    padding: 20px;
    margin-top: 20px;

    max-width: 500px; /* Limiting width */
    box-sizing: border-box; /* Ensuring padding and border are included in the width */
    margin-left: auto;
    margin-right: auto;
}

.star-rating {
    direction: rtl;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating .star {
    color: gray;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating input[type="radio"]:checked ~ .star,
.star-rating input[type="radio"]:hover ~ .star {
    color: gold;
}

.star-rating .star:hover,
.star-rating .star:hover ~ .star {
    color: gold;
}
span.star {
    color: gold;
}

.star-con {
    display: flex;
}

.rating-container {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 2.2rem;
    /* box-shadow: black; */
}

.add-review-link {
    text-align: center;
    align-self: center;
    font-size: 1.5rem;
    margin-top: 10px;
}

@media (max-width: 576px) {
    .star-rating {
        font-size: 1.5rem;
    }
    #review-form {
        width: 100%;
        padding: 15px;
    }
}
